* {
  /* border: 1px solid black; */
}

main {
  background-color: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
  border-bottom: 0px solid black;
  /* height: 450px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-green {
  color: #4daf7b !important;
}

.shadow-medium {
  box-shadow: 1px 1px 10px 1px #4daf7b3e;
}