* {
  /* border: 1px solid black; */
}

main {
  background-color: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
  border-bottom: 0px solid black;
  /* height: 450px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* === Wrapper Styles === */
#FileUpload {
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 30px;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  background-color: white;
  min-width: 415px;
}

/* === Upload Box === */
.upload {
  margin: 10px;
  height: 7rem;
  border: 8px dashed #4daf7b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.upload p {
  margin-top: 12px;
  line-height: 0;
  font-size: 22px;
  color: #0c3214;
  letter-spacing: 1.5px;
}

.upload__button {
  background-color: #4daf7b3e;
  border-radius: 5px;
  padding: 6px;
}

.upload__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* === Uploaded Files === */
.uploaded {
  margin: 10px;
  border-radius: 10px;
  width:fit-content
}

.uploaded .row {
  padding-top: 5px;
  margin: 0;
  /* box-shadow: inset 0 0 10px #333; */
  border-radius: 8px;
}


.row img{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.text-green{
  color: #4daf7b !important;
}

.shadow-medium{
  box-shadow: 1px 1px 10px 1px #4daf7b3e;
}