*{
    /* border: 1px solid black; */
}

body {
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
    border-bottom: 0px solid black;
    height: 450px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
  }
  
  /* === Wrapper Styles === */
  #FileUpload {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    margin: 30px;
    padding: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px;
    background-color: white;
    width: 415px;
  }
  
  /* === Upload Box === */
  .upload {
    margin: 10px;
    height: 7rem;
    border: 8px dashed #4daf7b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .upload p {
    margin-top: 12px;
    line-height: 0;
    font-size: 22px;
    color: #0c3214;
    letter-spacing: 1.5px;
  }
  .upload__button {
    background-color: #4daf7b3e;
    border-radius: 5px;
    padding: 6px;
  }
  .upload__button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  /* === Uploaded Files === */
  .uploaded {
    width: 375px;
    margin: 10px;
    border-radius: 10px;
}

.uploaded .row{

    background-color: #e6f5e9;
}